# Jykell configuration
#markdown: redcarpet
#highlighter: pygments
markdown: kramdown
highlighter: rouge
paginate: 5
language: 'en-uk'

# Website info
name: 'Ashish Pandey'
description: "Amused at technology"

# Author's info
author: 'Ashish Pandey'
email: ashishapy@gmail.com
twitter_username: ashishapy
github_username:  ashishapy
linkedin_username:  ashishapy

# edit 'categories' in the front matter of every post to match this username
nickname: ashishapy
bio: 'Technologist with polymath background. I started my career as CRM techno-functional consultant and now work on several emerging technologies. I enjoy working on Cloud, Docker & Kubernetes ecosystem, DevOps, Microservices, Javascript and mobile technologies. I offer a delicate balancing act between cutting edge technologies and delivering technical products to provide real business values.'
location: 'Bengaluru, India'
url: 'https://blog.ashishapy.com/'
image: 'assets/images/profile.jpg'

short_url: 'blog.ashishapy.com'
google_analytics: UA-64427924-1
disqus: ashishapy
# edit baseurl to simply '/' if using as your personal page (instead of a project page)
baseurl: /

# Permalinks
permalink: /:year/:month/:title/
# permalink: /author/:username
# permalink: /tag/:tag


# gems and other configs
gems: [jekyll-paginate]
exclude: [vendor]

# Additional settings available on the front-matter
# Site logo in the index.html (as in demo.ghost.io)
# Author's page cover in _layouts/author.html
# The same for page.html and tag.html layouts
# Post's page cover as a per-post basis _posts/...
# Disqus comments as a per-post basis
# ...


# Settings for builing master branch with travis-ci
# with jekyll-travis

# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
safe: false
lsi: false
username: ashishapy
repo: blog
branch: master
relative_source: ../blog/
destination: ../blog-pages/
production_url:  https://ashishapy.github.io/blog/
source_url:      https://github.com/ashishapy/blog/

exclude:
  - README.md
  - Rakefile
  - Gemfile
  - Gemfile.lock
  - changelog.md
  - "*.Rmd"
  - vendor
  - .travis.yml
