---
layout: default
title: Author
cover: 'assets/images/hand-made.jpg'
class: 'author-template'
navigation: True
label: Author
logo: 'assets/images/logofh.png'
current: author
---
<!-- < default}} -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- The big featured header -->

<!-- Everything inside the #author tags pulls data from the author -->
<!-- #author  -->
    <header class="main-header author-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
        <nav class="main-nav overlay clearfix">
            {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
            {% if page.navigation %}
                <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
            {% endif %}
        </nav>
    </header>

    <section class="author-profile inner">
        {% if site.image %}
        <figure class="author-image">
            <div class="img" style="background-image: url({{ site.baseurl }}{{ site.image }})"><span class="hidden">{{ site.author }}'s Picture</span></div>
        </figure>
        {% endif %}
        <h1 class="author-title">{{ site.author }}</h1>
        
        <section>
          <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/ashishapy" data-widget-id="605984786163761152">Tweets by @ashishapy</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </section>

        <hr class="author-title">

        <!--{% if site.bio %}-->
            <div class="author-bio">
              <p>Technologist with polymath background. I started my career as CRM techno-functional consultant and now works on several emerging technologies.</p>
                          
              <p>I enjoy working on Cloud, Docker & Kubernetes ecosystem, DevOps, Microservices, Javascript and mobile technologies</p>
              
              <p>I offer a delicate balancing act between cutting edge technologies and delivering technical products to provide real business values.</p>
            
              <p>I am deeply passionate about digital initiatives, cyber security and continuous delivery of digital ideas.</p>
              
              <p>I would love to & please feel free to invite me for social / technological meet ups, parties, beaches and adventures sports.</p>
            </div>
        <!--{% endif %}-->
        
        <div class="author-meta">
            {% if site.location %}<span class="author-location icon-location">{{ site.location }}</span>{% endif %}
            {% if site.url %}<span class="author-link icon-link"><a href="{{ site.url }}">{{ site.short_url }}</a></span>{% endif %}
            <!-- <span class="author-stats"><i class="icon-stats"></i> [[plural ../pagination.total empty='No posts' singular='% post' plural='% posts']]</span> -->
            <span class="author-stats"><i class="icon-stats"></i>{% if paginator.total_posts == 0 %}No posts{% elsif paginator.total_posts == 1 %}1 post{% else %}{{ paginator.total_posts }} posts{% endif %}</span>
        </div>
    </section>
<!-- /author -->
